<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>musiikki REST API</title>
	<style type="text/css">
		tr { 
			text-align: left;
		}
		
		td:first-child{
			text-align: right;
		}
	</style>
</head>
<body>
	<div>
		<table>
			<form action="modify" method="post">{% csrf_token %}
			<tr>
				<th>Artist</th>
			</tr>
			<tr>
				<td><label for="artist_id">Artist ID</label></td>
				<td><input type="text" id="artist_id" name="artist_id"></td>
			</tr>
			<tr>
				<td><label for="artist">Artist name</label></td>
				<td><input type="text" id="artist" name="artist"></td>
			</tr>
			<tr>
				<td><label for="genre">Genre</label></td>
				<td><input type="text" id="genre" name="genre"></td>
			</tr>
			<tr>
				<th>Album</th>
			</tr>
			<tr>
				<td><label for="album_id">Album ID</label></td>
				<td><input type="text" id="album_id" name="album_id"></td>
			</tr>
			<tr>
				<td><label for="album">Album title</label></td>
				<td><input type="text" id="album" name="album"></td>
			</tr>
			<tr>
				<td><label for="year">Year</label></td>
				<td><input type="number" id="year" name="year"></td>
			</tr>
			<tr>
				<th>Track</th>
			</tr>
			<tr>
				<td><label for="track_id">Track ID</label></td>
				<td><input type="text" id="track_id" name="track_id"></td>
			</tr>
			<tr>
				<td><label for="track">Track title</label></td>
				<td><input type="text" id="track" name="track"></td>
			</tr>
			<tr>
				<td><input type="radio" name="action" id="add" value="add" checked></td>
				<td><label for="add">Add</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="action" id="modify" value="modify"></td>
				<td><label for="modify">Modify</label></td>
			</tr>
			<tr>
				<td><input type="radio" name="action" id="remove" value="remove"></td>
				<td><label for="remove">Remove</label></td>
			</tr>
			<tr>
				<td><input type="submit"></td>
			</tr>
		</form>
	</div>
</body>
</html>