<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>musiikki REST API</title>
	<style type="text/css">		
		tr { 
			text-align: left;
		}
		
		td:first-child{
			text-align: right;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div style="display: inline-block">
		<button type="button" id="artists-button">Artists</button>
		<button type="button" id="albums-button">Albums</button>
		<button type="button" id="tracks-button">Tracks</button>
		<br><br>
		<form id="rest-form">
			<select name="type" id="type">
				<option value="artist">Artist</option>
				<option value="album">Album</option>
				<option value="track">Track</option>
			</select>
			<select name="method" id="method">
				<option value="get">GET</option>
				<option value="post">POST</option>
				<option value="put">PUT</option>
				<option value="patch">PATCH</option>
				<option value="delete">DELETE</option>
				<option value="search">Search</option>
			</select>
			<input type="submit">
			<table id="rest-form-table">
				<tr class="artist-get artist-put artist-patch artist-delete album-post" style="display: none">
					<td><label for="artist_id">Artist ID</label></td>
					<td><input type="text" id="artist_id" name="artist_id"></td>
				</tr>
				<tr class="artist-post artist-put artist-patch" style="display: none">
					<td><label for="artist">Artist name</label></td>
					<td><input type="text" id="artist" name="artist"></td>
				</tr>
				<tr class="artist-post artist-put artist-patch" style="display: none">
					<td><label for="genre">Genre</label></td>
					<td><input type="text" id="genre" name="genre"></td>
				</tr>
				<tr class="album-get album-put album-patch album-delete track-post" style="display: none">
					<td><label for="album_id">Album ID</label></td>
					<td><input type="text" id="album_id" name="album_id"></td>
				</tr>
				<tr class="album-post album-put album-patch" style="display: none">
					<td><label for="album">Album title</label></td>
					<td><input type="text" id="album" name="album"></td>
				</tr>
				<tr class="album-post album-put album-patch" style="display: none">
					<td><label for="year">Year</label></td>
					<td><input type="number" id="year" name="year"></td>
				</tr>
				<tr class="track-get track-put track-patch track-delete" style="display: none">
					<td><label for="track_id">Track ID</label></td>
					<td><input type="text" id="track_id" name="track_id"></td>
				</tr>
				<tr class="track-post track-put track-patch" style="display: none">
					<td><label for="track">Track title</label></td>
					<td><input type="text" id="track" name="track"></td>
				</tr>
				<tr class="track-post track-put track-patch" style="display: none">
					<td><label for="duration">Duration (s)</label></td>
					<td><input type="number" min=0 id="duration" name="duration"></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="response-container" style="width: 100%; height: 100%; overflow: auto;"></div>
	{% csrf_token %}
	<script>
		// Setup cross-site request forgery protection
		function csrfSafeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		};
		
		var csrftoken = $('[name=csrfmiddlewaretoken]').val();
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader('X-CSRFToken', csrftoken);
				}
			}
		});
		
		// Ajax response
		function responseHandler(jqXHR, textStatus)
		{
			// Display response
			var html = '<p><h3>' + jqXHR.status + ' ' + jqXHR.statusText + '</h3></p>';
			if (jqXHR.responseJSON)
			{
				html += '<pre>' + JSON.stringify(jqXHR.responseJSON, null, 4) + '</pre>';
			}
			$('#response-container').html(html);
		}
		
		// Form submit
		$('#rest-form').submit(function(event) {
			event.preventDefault();
			// Extract form data excluding type and method
			var form_data = $('#rest-form').serializeArray().reduce(function(object, item){
				if (item.name != 'type' && item.name != 'method')
				{
					object[item.name] = item.value;
				}
				return object;
			}, {});
			
			var type = $('#type').val();
			var method = $('#method').val();
			
			var url = type + '/' + form_data[type + '_id'];
			var data = {};
			switch (method)
			{
				case 'post':
					url = type + 's'
					data = form_data;
					break;
				case 'put':
					data = form_data;
					break;
				case 'patch':
					data = form_data;
					break;
				case 'search':
					method = 'get';
					url = 'search';
					data = form_data;
					break;
			}
			// Send request
			$.ajax(url,
				{
					method: method,
					data: data,
					complete: responseHandler
				}
			);
		});
		
		// Buttons
		function buttonHandler(button) {
			// Send request
			$.ajax(button,
				{
					method: 'get',
					complete: responseHandler
				}
			);
		}
		$('#artists-button').click(buttonHandler('artists'));
		$('#albums-button').click(buttonHandler('albums'));
		$('#tracks-button').click(buttonHandler('tracks'));
		
		// Get all dropdown options
		var type_options = [];
		var method_options = [];
		$('#type option').each(function() {
			type_options.push($(this).val());
		});
		$('#method option').each(function() {
			method_options.push($(this).val());
		});

		function updateInputFields() {
			var type = $('#type').val();
			var method = $('#method').val();
			// If search, show all
			var search = method == 'search';
			
			var show = type + '-' + method;
			// Show only wanted input fields
			$('#rest-form-table tr').each(function() {
				var element = $(this);
				var input = element.find('input');
				
				if (search || element.hasClass(show))
				{
					element.show();
					input.prop('disabled', false);
				}
				else
				{
					element.hide();
					input.prop('disabled', true);
				}
			});
		};
		updateInputFields();
		
		$('#type').change(updateInputFields);
		$('#method').change(updateInputFields);
	</script>
</body>
</html>